html {
  height: 100%;
  width: 100%;
}

body {

  background-image: linear-gradient(to right, #190361, #35027C, #46028C, #6402AA, #8401C9, #9001D5, #A300E7, #BB00FF);
}

.page {
  margin: 80px auto 91px;
  width: 428px;
  height: 424px;

}

.game-wrapper {
  background-color: #fafafc;
  border-radius: 5px;
  margin-top: 42px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
  top: -60px;

  filter: drop-shadow(hsla(0, 0%, 0%, 0.8) 0 20px 50px);
}

.sorte-wrapper {
  background-color: #e4edf1;

  font-family: 'Dancing Script', 'Times New Roman', sans-serif;
  text-align: center;
  position: relative;
  top: -30px;
  margin-bottom: 20px;
  font-size: 24px;
  padding: 10px;
  color: #34355b;
}



.biscuit {
  width: 300px;
  height: 200px;
}

h1 {
  font-family: 'Montserrat', 'Times New Roman', Sans Serif;
  text-align: center;
  position: relative;
  top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  color: #34355b;
}

p {
  font-family: 'DM Sans', 'Times New Roman', Sans Serif;
  text-align: center;
  position: relative;
  top: -30px;
  font-size: 16px;
  color: #34355b;
 
    -webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

label {
  font-size: 12px;
  line-height: 20px;

  margin-left: 12px;
}

button {
  font-size: 16px;
  line-height: 26px;
  padding: 2px;
  width: 15%;
  border: none;

  background-color: #c1bccc;
  border-radius: 5px 0 0 5px;
}

.submit {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 0px;
  justify-content: center;
  margin-top: -20px;

}
.submit :hover{
  cursor: pointer;
  animation-name: shake;
  animation-duration: 1s;
  
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 100px;
}

.game-wrapper2 {
  background-color: #fafafc;
  border-radius: 5px;
  margin-top: 42px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
  top: -90px;

  filter: drop-shadow(hsla(0, 0%, 0%, 0.8) 0 20px 50px);
}

.open-biscuit {
  font-family: 'DM Sans', 'Times New Roman', sans-serif;
  background-color: #ff9500;
  color: #fff;
  width: 100%;
  height: 170%;
  padding: 10px 15px;
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
 
}

.botaoBiscoito button {
  font-family: 'DM Sans', 'Times New Roman', sans-serif;
  background-color: #ff9500;
  color: #fff;
  width: 100%;
  height: 170%;
  padding: 10px 15px;
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.botaoBiscoito button :hover {
  font-family: 'DM Sans', 'Times New Roman', sans-serif;
  background-color: #ff9000;
  color: #fff;
  width: 100%;
  height: 170%;
  padding: 10px 15px;
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;

}

.sorte-wrapper h2 {

  font-family: 'Dancing Script', 'Times New Roman', sans-serif;
  text-align: center;
  position: relative;
  top: -30px;
  margin-bottom: 20px;
  font-size: 24px;
  padding: 10px;
  color: #34355b;
  animation-name: surge ;
  animation-duration:  2s;
}

.mensagemSorte h2 {

  font-family: 'Dancing Script', 'Times New Roman', sans-serif;
  text-align: center;
  position: relative;
  top: -30px;
  margin-bottom: 20px;
  font-size: 24px;
  padding: 10px;
  color: #34355b;
 
}

.hide {
  display: none;
}
@keyframes surge{
  from{
    transform: translateY(100px);
    opacity: 0;
  }
  to{
    transform: scale(1.2);
    opacity: 1;
  }

}
@keyframes shake{
  0% {margin-left: 0;rotate:5deg}
  25% {margin-left: 5px;rotate:-5deg}
  50% {margin-left: 0;rotate:5deg}
  75% {margin-left: -5px;rotate:-5deg}
  100% {margin-left: 0;rotate:5deg}

}